@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    font-family: 'Press Start 2P', cursive;
    font-size: 2vh;
    margin: 0;
    box-sizing: border-box;
}

#popUp {
    position: absolute;
    width: 45vh;
    left: 35%;
    top: 35%;
    background-color: aliceblue;
    padding: 4vh;
    box-shadow: 5px 5px 5px;
}

#popUp input {
    width: 35vh;
    height: 3vh;
    margin: 1vh;
}

#popUpButtons {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

#popUp button {
    width: 10vh;
    height: 3.5vh;
    font-size: 1vh;
    margin: 1vh;
}

#ranking {
    margin-right: 4vh;
}

#rankingTitle {
    margin-bottom: 4vh;
    padding: 1vh;
    text-align: center;
}

#rankingTable td {
    padding: 1.5vh;
}

body {
    width: 100vw;
    height: 100vh;
}

#all {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game {
    border: 2px solid rgba(0, 0, 0, 1);
    position: relative;
}

#gameOverContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.5);
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
}

#gameOver {
    font-size: 5vh;
    top: 0;
    left: 0;
    text-align: center;
}

#side {
    height: 80vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

#info {
    height: 70vh;
    margin-left: 2vh;
}

#buttons {
    height: 10vh;
    margin-left: 2vh;
}

button {
    background-color: antiquewhite;
    width: 20vh;
    height: 6vh;
}

#info div {
    margin: 10px;
}

#tetris {
    border-collapse: collapse;
}

#nextTitle {
    padding-top: 2vh;
}

#next {
    margin-left: 1vh;
    border-collapse: collapse;
}

#tetris td {
    border: 0.1vh solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5vh;
    width: 4vh;
    height: 4vh;
}

#next td {
    border: 0.1vh solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5vh;
    width: 4vh;
    height: 4vh;
}

#arrows, #drop {
    display: none;
}

@media ( max-width: 769px) {
    #ranking {
        display: none;
    }

    * {
        font-size: 1vh;
    }
    #all {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #game {
        margin: 3%;
    }
    #side {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
    }
    #info {
        height: auto;
        margin-left: 0;
    }
    #info div {
        margin: 1rem;
    }
    #buttons {
        height: 3rem;
    }
    button {
        background-color: antiquewhite;
        width: 13rem;
        height: 5rem;
    }
    #tetris td {
        width: 3rem;
        height: 3rem;
    }
    #next td {
        width: 1.5rem;
        height: 1.5rem;
    }

    #arrows, #drop {
        display: inline;
        
    }

    #arrows {
        margin-left: 5rem;
    }

    #arrowTable td {
        width: 6rem;
        height: 6rem;
    }

    #up {
        border: 2px solid black;
        border-radius: 1rem;
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
    }

    #down {
        border: 2px solid black;
        border-radius: 1rem;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }

    #left {
        border: 2px solid black;
        border-radius: 1rem;
        border-bottom-left-radius: 5rem;
        border-top-left-radius: 5rem;
    }

    #right {
        border: 2px solid black;
        border-radius: 1rem;
        border-bottom-right-radius: 5rem;
        border-top-right-radius: 5rem;
    }

    #drop {
        width: 10rem;
        height: 10rem;
        border: 2px solid black;
        margin-top: 10rem;
        border-radius: 2rem;
        padding: 1rem;
    }

    #control {
        display: flex;
        flex-direction: row;
        /* border: 1px solid black; */
        margin-top: 5rem;
    }

    #buttonAndControl {
        
        display: flex;
        flex-direction: column;
    }

    #popUp {
        position: absolute;
        width: 90%;
        left: 5%;
        top: 35%;
        background-color: aliceblue;
        padding: 4rem;
        box-shadow: 5px 5px 5px;
    }

    #popUp input {
        width: 90%;
        height: 5rem;
        margin: 1rem;
    }
}